.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 350px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 30px;
    background: #2B2B2B;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.651);
    border-radius: 6px;
}

.images {
    pointer-events: none;
    display: block;
    text-align: center;
}

.text {
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: #FBFAFA;
    text-align: center;
}

.password {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #FBFAFA;
    text-align: left;
    box-shadow: 0px 1px 6px #000000;
    background: #1F1F1F;
    border-radius: 6px;
    border: 0.4vh solid #1F1F1F;
    padding-left: 35px;
    padding-right: 15px;
    height: 30px;
    width: 200px;
    margin: 0 auto;
}

.password:focus {
    outline: none;
    border-color: red;
    transition: all 0.5s;
}

.group {
    pointer-events: none;
    position: absolute;
    margin-left: 54px;
    margin-top: 6px;
}

.dimensions {
    margin-bottom: 20px;
}

.button {
    text-decoration: none;
    display: block;
    height: 35px;
    width: 250px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 5px;
    background: rgb(255, 0, 0);
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    text-shadow: 0px 1px 4px #000000;
    box-shadow: 0px 1px 6px #000000a6;
    margin: 0 auto;
}

.button:hover {
    box-shadow: 0 0 4vh 0.5vh rgb(255, 0, 0);
    transition: all 0.5s;
    border-radius: 1vh;
    background-color: #2B2B2B;
    transform: translateY(-0.5vh);
}

.button-text {
    display: block;
    height: 100%;
}